{% extends "StoreBackendBundle::layout.html.twig" %}

{% block titlepage %}

    <i class="menu-icon fa fa-bookmark"></i> Liste des produits

{% endblock %}

{% block content %}

    <div class="row">
        <a href="{{ path('store_backend_product_new') }}" class="pull-right btn btn-primary btn-lg btn-rounded">
            <i class="fa fa-plus"></i> Ajouter un produit
        </a>
    </div>
    <hr/>

    <div class="table-info">

        <table class="table table-bordered">

            <thead>

            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Photo</th>
                <th>Référence</th>
                <th class="col-md-2">Résumé</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>État</th>
                <th>Date de création</th>
                <th>Actions</th>
            </tr>

            </thead>

            <tbody>

            {# Boucle sur mes produits #}
            {% for product in products %} {# for nomdelaclef (nom arbitraire) in nomdutableau #}
                {# ref, title, price ... sont les attributs et non pas les champs de la table #}

            <tr>

                <td> {{ product.id }} </td>
                <td> <a href="{{ path('store_backend_product_view', {'name' : product.title , 'id': product.id} ) }}"> {{ product.title }} </a> </td>
                <td> {% for value in product.image %}
                        <img src="{{ value.imageThumb }}"/>
                     {% endfor %}</td>
                <td> {{ product.ref }} </td>
                <td> {{ product.summary }} </td>
                <td> {{ product.price }} €</td>
                <td> {{ product.quantity }} quantités </td>
                <td>
                    {% if product.active == 0 %}
                        <i class="fa fa-times"></i> Désactivé
                    {% else %}
                        <i class="fa fa-check"></i> Activé
                    {% endif %}
                </td>
                <td> {{ product.dateCreated|date('d/m/Y') }} </td>

                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-cogs"></i> Actions <i class="fa fa-caret-down"></i></button>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('store_backend_product_view', {'name' : product.title , 'id': product.id} ) }}"> <i class="fa fa-search"></i> Voir</a></li>
                            <li><a href="{{ path('store_backend_product_edit', {'id': product.id} ) }}"> <i class="fa fa-pencil"></i> Éditer</a></li>
                            <li><a href="{{ path('store_backend_product_remove', {'id': product.id} ) }}"> <i class="fa fa-times"></i> Supprimer</a></li>
                        </ul>
                    </div>
                </td>

            </tr>

            {% endfor %}

            </tbody>

        </table>

    </div>

{% endblock %}