{% extends "StoreBackendBundle::layout.html.twig" %}



{% block javascripts %}

    {{ parent() }}

    <script>
        init.push(function() {
            $('[data-toggle="popover"]').popover({
                trigger: "hover"
            })
        });
    </script>

{% endblock %}



{% block titlepage %}

    <i class="menu-icon fa fa-bookmark"></i> Liste des produits

{% endblock %}



{% block content %}

    <div class="row">
        <a href="{{ path('store_backend_product_new') }}" class="pull-right btn btn-primary btn-lg btn-rounded">
            <i class="fa fa-plus"></i> Ajouter un produit
        </a>
    </div>
    <hr/>

    {# Compte le nombre total de produits (sur les 3 pages de pagination) #}
    {# On ne peut pas utiliser le filtre |length à cause de la pagination #}
    <div class="alert alert-info alert-dark">
        {{ products.getTotalItemCount }} produits trouvés
    </div>

    <div class="table-info">

        <table class="table table-bordered">

            <thead>

            <tr>
                {# 1er argument : le tableau de produits,
                   2ème argument : le label de la colonne
                   3ème argument : la colonne sur laquelle le tri va s'effectuer #}

                <th class="text-center"> {{ knp_pagination_sortable(products, 'ID', 'p.id')|raw }} </th>
                <th class="col-md-2 text-center"> {{ knp_pagination_sortable(products, 'Titre', 'p.title')|raw }} </th>
                <th class="text-center">Photo</th>
                <th class="text-center">Référence</th>
                <th class="col-md-2 text-center">Résumé</th>
                <th class="text-center">Prix</th>
                <th class="text-center">Quantité</th>
                <th class="text-center">Activation</th>
                <th class="text-center">Visible</th>
                <th class="text-center">Date de création</th>
                <th class="text-center">Actions</th>
            </tr>

            </thead>

            <tbody>

            {# Boucle sur mes produits #}
            {% for product in products %} {# for nomdelaclef (nom arbitraire) in nomdutableau #}
                {# ref, title, price ... sont les attributs et non pas les champs de la table #}

            <tr>

                <td class="text-center"> {{ product.id }} </td>

                <td class="text-center"> <a href="{{ path('store_backend_product_view', {'name' : product.title , 'id': product.id} ) }}"> {{ product.title }} </a> </td>

                <td class="text-center">
                    {% if product.imagepresentation != NULL %}
                        <img src="{{ asset('uploads/product/'~ product.imagepresentation )}}"/>
                    {% else %}
                    {% endif %}
                </td>

                <td class="text-center"> {{ product.ref }} </td>

                <td class="text-justify"> {{ product.summary }} </td>

                <td class="text-center"> {{ product.price }} €</td>

                <td class="text-center"> {{ product.quantity }} quantités </td>

                <td class="text-center">
                {% if product.active == 1 %}
                    <a href="{{ path('store_backend_product_activate', {'id': product.id, 'action' : 0} ) }}"
                       data-container="body" data-toggle="popover" data-placement="bottom" data-content="Désactiver le produit">
                        <span> {{ product.active|active|raw  }} </span>
                    </a>
                {% else %}
                    <a href="{{ path('store_backend_product_desactivate', {'id': product.id, 'action' : 1} ) }}"
                       data-container="body" data-toggle="popover" data-placement="bottom" data-content="Activer le produit">
                        <span> {{ product.active|active|raw  }} </span>
                    </a>
                {% endif %}
                </td>

                <td class="text-center">
                {% if product.cover == 1 %}
                    <a href="{{ path('store_backend_product_cover', {'id': product.id, 'action' : 0} ) }}"
                       data-container="body" data-toggle="popover" data-placement="bottom" data-content="Retirer la mise en avant du produit" class="btn btn-warning">
                        <span class="fa fa-eye"> </span>
                    </a>
                {% else %}
                    <a href="{{ path('store_backend_product_nocover', {'id': product.id, 'action' : 1} ) }}"
                       data-container="body" data-toggle="popover" data-placement="bottom" data-content="Mettre en avant le produit" class="btn">
                        <span class="fa fa-eye-slash"> </span>
                    </a>
                {% endif %}

                </td>

                <td class="text-center"> {{ product.dateCreated|date('d/m/Y') }} </td>

                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-cogs"></i> Actions <i class="fa fa-caret-down"></i></button>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('store_backend_product_view', {'name' : product.title , 'id': product.id} ) }}"> <i class="fa fa-search"></i> Voir</a></li>
                            <li><a href="{{ path('store_backend_product_edit', {'id': product.id} ) }}"> <i class="fa fa-pencil"></i> Éditer</a></li>
                            <li><a href="{{ path('store_backend_product_remove', {'id': product.id} ) }}"> <i class="fa fa-times"></i> Supprimer</a></li>
                        </ul>
                    </div>
                </td>

            </tr>

            {% endfor %}

            </tbody>

        </table>

        <div class="pagination">
            <li> {{ knp_pagination_render(products) }} </li>
        </div>

    </div>

{% endblock %}