{% extends "StoreBackendBundle::layout.html.twig" %}



{% block javascripts %}

    {{ parent() }}

    <script>

        // Graphique du nombre de commandes des 6 derniers mois
        init.push(function () {
            var uploads_data = [
                {% for value in nborderbymonth %}
                        { period: '{{ value.d }}', v: {{ value.nb|default(0) }} },
                 {% endfor %}
            ];
            Morris.Line({
                element: 'hero-graph',
                data: uploads_data,
                xkey: 'period',
                ykeys: ['v'],
                labels: ['Nombre de commandes'],
                lineColors: ['#fff'],
                lineWidth: 2,
                pointSize: 4,
                gridLineColor: 'rgba(255,255,255,.8)',
                resize: true,
                gridTextColor: '#fff',
                xLabels: "period"
            });
        });


        // 3 petits graphiques
        init.push(function () {
            // Easy Pie Charts
            var easyPieChartDefaults = {
                animate: 2000,
                scaleColor: false,
                lineWidth: 6,
                lineCap: 'square',
                size: 90,
                trackColor: '#e5e5e5'
            }
            $('#easy-pie-chart-1').easyPieChart($.extend({}, easyPieChartDefaults, {
                barColor: PixelAdmin.settings.consts.COLORS[1]
            }));
            $('#easy-pie-chart-2').easyPieChart($.extend({}, easyPieChartDefaults, {
                barColor: PixelAdmin.settings.consts.COLORS[1]
            }));
            $('#easy-pie-chart-3').easyPieChart($.extend({}, easyPieChartDefaults, {
                barColor: PixelAdmin.settings.consts.COLORS[1]
            }));
        });


        // Scrollbar des 5 derniers commentaires et des 5 dernières commandes
        init.push(function () {
            $('#comment .panel-body > div').slimScroll({ height: 300, alwaysVisible: true, color: '#888',allowPageScroll: true });
        })


    </script>

{% endblock %}



{% block titlepage %}
    <i class="menu-icon fa fa-dashboard"></i> Dashboard
{% endblock %}


{% block content %}

    <div class="row">

        <div class="col-md-8">

        <div class="stat-panel">

            {# STATISTIQUES : nb Produits / nb Catégories / nb Pages CMS / nb Commentaires / nb Commandes #}

            <div class="stat-cell col-sm-4 padding-sm-hr bordered no-border-r valign-top">
                <!-- Small padding, without top padding, extra small horizontal padding -->
                <h4 class="padding-sm no-padding-t padding-xs-hr"><i class="fa fa-cloud-upload text-primary"></i>&nbsp;&nbsp;MES STATISTIQUES</h4>
                <!-- Without margin -->
                <ul class="list-group no-margin">
                    <!-- Without left and right borders, extra small horizontal padding, without background, no border radius -->
                    <li class="list-group-item no-border-hr padding-xs-hr no-bg no-border-radius">
                        Bijoux <span class="label label-pa-purple pull-right"> {{ nbprod.nb|default('0') }} créés </span>
                    </li> <!-- / .list-group-item -->
                    <!-- Without left and right borders, extra small horizontal padding, without background -->
                    <li class="list-group-item no-border-hr padding-xs-hr no-bg">
                        Catégories <span class="label label-warning pull-right"> {{ nbcat.nb|default('0') }} créées </span>
                    </li> <!-- / .list-group-item -->
                    <!-- Without left and right borders, extra small horizontal padding, without background -->
                    <li class="list-group-item no-border-hr padding-xs-hr no-bg">
                        Pages <span class="label label-info pull-right"> {{ nbpage.nb|default('0') }} écrites </span>
                    </li> <!-- / .list-group-item -->
                    <!-- Without left and right borders, extra small horizontal padding, without background -->
                    <li class="list-group-item no-border-hr padding-xs-hr no-bg">
                        Commentaires <span class="label label-danger pull-right"> {{ nbcom.nb|default('0') }} rédigés </span>
                    </li> <!-- / .list-group-item -->
                    <!-- Without left and right borders, extra small horizontal padding, without background -->
                    <li class="list-group-item no-border-hr padding-xs-hr no-bg">
                        Fournisseurs <span class="label label-purple pull-right"> {{ nbsup.nb|default('0') }} utilisés </span>
                    </li> <!-- / .list-group-item -->
                    <!-- Without left and right borders, without bottom border, extra small horizontal padding, without background -->
                    <li class="list-group-item no-border-hr no-border-b padding-xs-hr no-bg">
                        Commandes <span class="label label-success pull-right"> {{ nborder.nb|default('0') }} passées </span>
                    </li> <!-- / .list-group-item -->
                </ul>
            </div>

            <div class="stat-cell col-sm-8 bg-primary padding-sm valign-middle">
                <div id="hero-graph" class="graph" style="height: 230px;"> </div>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-4">
                <!-- Centered text -->
                <div class="stat-panel text-center">
                    <div class="stat-row">
                        <!-- Dark gray background, small padding, extra small text, semibold text -->
                        <div class="stat-cell bg-dark-gray padding-sm text-xs text-semibold">
                            <i class="fa fa-globe"></i>&nbsp;&nbsp;Fiches complètes de bijoux
                        </div>
                    </div> <!-- /.stat-row -->
                    <div class="stat-row">
                        <!-- Bordered, without top border, without horizontal padding -->
                        <div class="stat-cell bordered no-border-t no-padding-hr">
                            <div class="pie-chart" data-percent="{{ (nbproductcompleted.nb // nbprod.nb) * 100  }}" id="easy-pie-chart-1">
                                <div class="pie-chart-label"> {{ (nbproductcompleted.nb // nbprod.nb) * 100  }} % </div>
                            </div>
                        </div>
                    </div> <!-- /.stat-row -->
                </div> <!-- /.stat-panel -->
            </div>
            <div class="col-xs-4">
                <div class="stat-panel text-center">
                    <div class="stat-row">
                        <!-- Dark gray background, small padding, extra small text, semibold text -->
                        <div class="stat-cell bg-dark-gray padding-sm text-xs text-semibold">
                            <i class="fa fa-flash"></i>&nbsp;&nbsp;Fichiers référencés de bijoux
                        </div>
                    </div> <!-- /.stat-row -->
                    <div class="stat-row">
                        <!-- Bordered, without top border, without horizontal padding -->
                        <div class="stat-cell bordered no-border-t no-padding-hr">
                            <div class="pie-chart" data-percent="{{ (nbproductreferenced.nb // nbprod.nb) * 100  }}" id="easy-pie-chart-2">
                                <div class="pie-chart-label"> {{ (nbproductreferenced.nb // nbprod.nb) * 100  }} % </div>
                            </div>
                        </div>
                    </div> <!-- /.stat-row -->
                </div> <!-- /.stat-panel -->
            </div>
            <div class="col-xs-4">
                <div class="stat-panel text-center">
                    <div class="stat-row">
                        <!-- Dark gray background, small padding, extra small text, semibold text -->
                        <div class="stat-cell bg-dark-gray padding-sm text-xs text-semibold">
                            <i class="fa fa-cloud"></i>&nbsp;&nbsp;Bijoux liés à une page CMS
                        </div>
                    </div> <!-- /.stat-row -->

                    <div class="stat-row">

                        <!-- Bordered, without top border, without horizontal padding -->
                        <div class="stat-cell bordered no-border-t no-padding-hr">

                            <div class="pie-chart" data-percent="{{ (nbproductcms.nb // nbprod.nb) * 100  }}" id="easy-pie-chart-3">
                                <div class="pie-chart-label"> {{ (nbproductcms.nb // nbprod.nb) * 100  }} % </div>
                            </div>
                        </div>

                    </div> <!-- /.stat-row -->

                </div> <!-- /.stat-panel -->

            </div>

        </div>

        </div>

        <div class="col-md-4">

            <div class="row">

                <div class="col-sm-4 col-md-12">

                    <div class="stat-panel">
                        <!-- Danger background, vertically centered text -->
                        <div class="stat-cell bg-danger valign-middle">
                            <!-- Stat panel bg icon -->
                            <i class="fa fa-euro bg-icon"></i>
                            <!-- Extra large text -->
                            <span class="text-xlg"><span class="text-lg text-slim">€</span><strong> {{ totalorder.total|default('0')|number_format(2, ',', ' ') }} </strong></span><br>
                            <!-- Big text -->
                            <span class="text-bg">Chiffre d'affaires </span><br>
                            <!-- Small text -->
                            <span class="text-sm"><a href="#">Depuis mon inscription</a></span>
                        </div> <!-- /.stat-cell -->
                    </div>

                </div>

                <div class="col-sm-4 col-md-12">

                    <div class="stat-panel">
                        <!-- Success background, bordered, without top and bottom borders, without left border, without padding, vertically and horizontally centered text, large text -->
                        <a href="#" class="stat-cell col-xs-5 bg-warning bordered no-border-vr no-border-l no-padding valign-middle text-center text-lg">
                            <i class="fa fa-comments"></i>&nbsp;&nbsp;<strong> {{ nbcom.nb|default('0') }} </strong>
                        </a> <!-- /.stat-cell -->
                        <!-- Without padding, extra small text -->
                        <div class="stat-cell col-xs-7 no-padding valign-middle">
                            <!-- Add parent div.stat-rows if you want build nested rows -->
                            <div class="stat-rows">
                                <div class="stat-row">
                                    <!-- Success background, small padding, vertically aligned text -->
                                    <a href="#" class="stat-cell bg-warning padding-sm valign-middle">
                                        {{ nbcomact.nb|default('0') }} Actifs
                                        <i class="fa fa-check pull-right"></i>
                                    </a>
                                </div>
                                <div class="stat-row">
                                    <!-- Success darken background, small padding, vertically aligned text -->
                                    <a href="#" class="stat-cell bg-warning darken padding-sm valign-middle">
                                        {{ nbcomval.nb|default('0') }} En cours
                                        <i class="fa fa-home pull-right"></i>
                                    </a>
                                </div>
                                <div class="stat-row">
                                    <!-- Success darker background, small padding, vertically aligned text -->
                                    <a href="#" class="stat-cell bg-warning darker padding-sm valign-middle">
                                        {{ nbcominact.nb|default('0') }} Inactifs
                                        <i class="fa fa-times pull-right"></i>
                                    </a>
                                </div>
                            </div> <!-- /.stat-rows -->
                        </div> <!-- /.stat-cell -->
                    </div>

                </div>

                <div class="col-sm-4 col-md-12">

                    <div class="stat-panel">
                        <!-- Success background. vertically centered text -->
                        <div class="stat-cell bg-success valign-middle">
                            <!-- Stat panel bg icon -->
                            <i class="fa fa-heart bg-icon"></i>
                            <!-- Extra large text -->
                            <span class="text-xlg"><strong> {{ nblikes.nb|default('0') }} </strong></span><br>
                            <!-- Big text -->
                            <span class="text-bg">Likes</span><br>
                            <!-- Small text -->
                            <span class="text-sm">Sur tous mes bijoux</span>
                        </div> <!-- /.stat-cell -->
                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-md-6">

            <div class="panel panel-info" id="comment">

                <div class="panel-heading">
                    <span class="panel-title"><i class="panel-title-icon fa fa-comments"></i> 5 Derniers Commentaires </span>
                    <ul class="nav nav-tabs nav-tabs-xs">
                        <li class="active">
                            <a href="#actifs-comments" data-toggle="tab">Actifs</a>
                        </li>
                        <li>
                            <a href="#encours-comments" data-toggle="tab">En cours</a>
                        </li>
                        <li>
                            <a href="#inactifs-comments" data-toggle="tab">Inactifs</a>
                        </li>
                    </ul>
                </div> <!-- / .panel-heading -->

                <div class="tab-content">

                    <!-- Comments widget -->

                    <!-- Without padding -->
                    <div class="widget-comments panel-body tab-pane no-padding fade active in" id="actifs-comments">
                        <!-- Panel padding, without vertical padding -->
                        <div class="panel-padding no-padding-vr" style="overflow: hidden; width: auto; height: 300px;">

                            {% for value in lastcomact %}

                                <div class="comment">
                                    <img src="{{ value.user.photo }}" alt="" class="comment-avatar">
                                    <div class="comment-body">
                                        <div class="comment-by">
                                            <a href="#" title="">{{ value.user.firstname ~ " " ~ value.user.lastname }}</a> a commenté sur <a href="#" title="">{{ value.product.title }}</a>
                                        </div>
                                        <div class="comment-text">
                                            {{ value.content }}
                                        </div>
                                        <div class="comment-actions">
                                            Le {{ value.dateCreated|date('d/m/Y') }} à {{ value.dateCreated|date('H:i') }}
                                        </div>
                                    </div> <!-- / .comment-body -->
                                </div> <!-- / .comment -->

                            {% endfor %}

                        </div>

                    </div> <!-- / .widget-comments -->

                    <!-- Comments widget -->

                    <!-- Without padding -->
                    <div class="widget-comments panel-body tab-pane no-padding fade in" id="encours-comments">
                        <!-- Panel padding, without vertical padding -->
                        <div class="panel-padding no-padding-vr" style="overflow: hidden; width: auto; height: 300px;">

                            {% for value in lastcomval %}

                                <div class="comment">
                                    <img src="{{ value.user.photo }}" alt="" class="comment-avatar">
                                    <div class="comment-body">
                                        <div class="comment-by">
                                            <a href="#" title="">{{ value.user.firstname ~ " " ~ value.user.lastname }}</a> a commenté sur <a href="#" title="">{{ value.product.title }}</a>
                                        </div>
                                        <div class="comment-text">
                                            {{ value.content }}
                                        </div>
                                        <div class="comment-actions">
                                            Le {{ value.dateCreated|date('d/m/Y') }} à {{ value.dateCreated|date('H:i') }}
                                        </div>
                                    </div> <!-- / .comment-body -->
                                </div> <!-- / .comment -->

                            {% endfor %}

                        </div>

                    </div> <!-- / .widget-comments -->

                    <!-- Comments widget -->

                    <!-- Without padding -->
                    <div class="widget-comments panel-body tab-pane no-padding fade in" id="inactifs-comments">
                        <!-- Panel padding, without vertical padding -->
                        <div class="panel-padding no-padding-vr" style="overflow: hidden; width: auto; height: 300px;">

                            {% for value in lastcominact %}

                                <div class="comment">
                                    <img src="{{ value.user.photo }}" alt="" class="comment-avatar">
                                    <div class="comment-body">
                                        <div class="comment-by">
                                            <a href="#" title="">{{ value.user.firstname ~ " " ~ value.user.lastname }}</a> a commenté sur <a href="#" title="">{{ value.product.title }}</a>
                                        </div>
                                        <div class="comment-text">
                                            {{ value.content }}
                                        </div>
                                        <div class="comment-actions">
                                            Le {{ value.dateCreated|date('d/m/Y') }} à {{ value.dateCreated|date('H:i') }}
                                        </div>
                                    </div> <!-- / .comment-body -->
                                </div> <!-- / .comment -->

                            {% endfor %}

                        </div>
                    </div> <!-- / .widget-comments -->

                </div>

            </div>

        </div>

        <div class="col-md-6">

            <div class="panel panel-info widget-support-tickets" id="comment">

                <div class="panel-heading">

                    <span class="panel-title"><i class="panel-title-icon fa fa-shopping-cart"></i>5 Dernières Commandes</span>

                    <div class="panel-heading-controls">
                        <div class="panel-heading-text"><a href="#">{{ nborder.nb|default('0') }} commandes</a></div>
                    </div>

                </div> <!-- / .panel-heading -->

                <div class="panel-body tab-content-padding">
                    <!-- Panel padding, without vertical padding -->
                    <div class="panel-padding no-padding-vr" style="overflow: hidden; width: auto; height: 300px;">

                        {% for value in  lastorders %}
                            <div class="ticket">

                                <span class="pull-right"> {{ value.state|state|raw  }}</span>

                                {#{% if value.state == 0 %}#}
                                    {#<span class="label label-warning ticket-label">En attente de paiement</span>#}
                                {#{% elseif value.state == 1 %}#}
                                    {#<span class="label label-info ticket-label">En cours</span>#}
                                {#{% elseif value.state == 2 %}#}
                                    {#<span class="label label-success ticket-label">Envoyée</span>#}
                                {#{% else %}#}
                                    {#<span class="label label-danger ticket-label">Annulée</span>#}
                                {#{% endif %}#}

                                <a href="#" title="" class="ticket-title">{{ value.address }}<span>[#{{ value.id }}]</span></a>
								<span class="ticket-info">
									Commande par <a href="#" title="">{{ value.user.firstname ~ " " ~ value.user.lastname }}</a> le {{ value.date|date('d/m/Y') }}
								</span>
                            </div> <!-- / .ticket -->
                        {% endfor %}

                    </div>
                </div>
                </div> <!-- / .panel-body -->
            </div> <!-- / .panel -->

        </div>

    </div>

    <div class="row">

        <div class="col-md-6">

            <div class="panel panel-info">
                <div class="panel-heading">
                    <span class="panel-title"><i class="panel-title-icon fa fa-star"></i>Catégories populaires</span>
                </div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nom</th>
                            <th>Nombre de produits</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for value in catpop %}

                            <tr>
                                <td> {{ value.id }} </td>
                                <td> {{ value.title }} </td>
                                <td> <span class="badge badge-info"> {{ value.nb }} </span> </td>
                                <td> <a href="{{ path('store_backend_category_view', {'name' : value.title , 'id': value.id} ) }}" class="btn btn-xs btn-danger btn-rounded">Voir la catégorie</a> </td>
                            </tr>

                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div class="col-md-6">

            <div class="panel panel-info widget-tasks">

                <div class="panel-heading">
                    <span class="panel-title"><i class="panel-title-icon fa fa-envelope"></i>Messages récents</span>
                </div> <!-- / .panel-heading -->

                <div class="panel-body ui-sortable">

                    {% for value in lastmess %}

                        <div class="task">

                            <span class="label label-warning pull-right">
                                {% if value.state == 0 %}
                                    <span class="label label-danger pull-right"> Non lu </span>
                                {% else %}
                                    <span class="label label-info pull-right"> Lu </span>
                                {% endif %}
                            </span>

                            <div class="fa fa-arrows-v task-sort-icon"></div>
                            <a href="#" class="task-title">{{ value.title }}<span> {{ value.dateCreated|date('d/m/Y') }} </span></a>
                        </div> <!-- / .task -->

                    {% endfor %}

                </div> <!-- / .panel-body -->

            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-md-6">

            <div class="panel panel-info widget-followers">

                <div class="panel-heading">
                    <span class="panel-title"><i class="panel-title-icon fa fa-money"></i>Promotions & Réductions</span>
                </div> <!-- / .panel-heading -->

                <div class="panel-body">

                    {% for value in lastbusiness %}

                        <div class="follower">

                       {% for values in value.product %}

                            <img src="{{ asset('uploads/product/'~ values.imagepresentation )}}" alt="" class="follower-avatar">

                            <div class="body">

                                <div class="follower-controls">
                                    {% if value.type == 0 %}
                                        <span class="btn btn-sm btn-success"><i class="fa fa-check"></i><span>&nbsp;&nbsp;{{ value.message }}</span></span>
                                    {% else %}
                                        <span class="btn btn-sm btn-info"><i class="fa fa-check"></i><span>&nbsp;&nbsp;{{ value.message }}</span></span>
                                    {% endif %}
                                </div>

                                <a href="{{ path('store_backend_product_view', {'name' : values.title , 'id': values.id} ) }}" class="follower-name"> {{ values.title }} </a> <span class="badge badge-info"> {{ value.amount }} €</span> <br>

                                {% if value.type == 0 %}
                                    <span class="follower-username">Promotion</span>
                                {% else %}
                                    <span href="#" class="follower-username">Réduction</span>
                                {% endif %}

                            </div>

                       {% endfor %}

                        </div>

                    {% endfor %}

                </div> <!-- / .panel-body -->

            </div>

        </div>

        <div class="col-md-6">

            <div class="panel panel-info panel-body-colorful widget-profile widget-profile-centered">

                <div class="panel-heading">
                    <img src="{{ detailsjeweler.image }}" alt="" class="widget-profile-avatar">
                    <div class="widget-profile-header">
                        <span>{{ detailsjeweler.title }}</span><br>
                        <a href="{{ path('store_backend_product_list') }}"> {{ detailsjeweler.description }} </a>
                    </div>
                </div> <!-- / .panel-heading -->

                <div class="panel-body">
                    <div class="widget-profile-text" style="padding: 0;">
                        <p> <i class="fa fa-phone"></i> {{ detailsjeweler.meta.phone }}</p>
                        <p><i class="fa fa-mail-forward"></i> {{ detailsjeweler.email }} </p>
                        <p> {{ detailsjeweler.meta.website }} </p>
                        <p> {{ detailsjeweler.meta.address }} </p>
                        <p> {{ detailsjeweler.meta.city }} </p>
                    </div>
                </div>

            </div>

        </div>

    </div>


{% endblock %}