{% extends "StoreBackendBundle::layout.html.twig" %}



{% block javascripts %}

    {{ parent() }}

    <script>
        init.push(function() {
            $('[data-toggle="popover"]').popover({
                trigger: "hover"
            })
        });
    </script>

{% endblock %}



{% block titlepage %}
    <i class="menu-icon fa fa-pencil"></i> Liste des pages CMS
{% endblock %}



{% block content %}

    <div class="row">
        <a href="{{ path('store_backend_cms_new') }}" class="pull-right btn btn-primary btn-lg btn-rounded">
            <i class="fa fa-plus"></i> Ajouter un CMS
        </a>
    </div>
    <hr/>

    <div class="table-info">

        <table class="table table-bordered">

            <thead>

            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Titre</th>
                <th class="text-center">Image</th>
                <th class="col-md-4 text-center">Résumé</th>
                <th class="text-center">Activation</th>
                <th class="text-center">État</th>
                <th class="text-center">Nombre de produits associés</th>
                <th class="text-center">Date de création</th>
                <th class="text-center">Actions</th>
            </tr>

            </thead>

            <tbody>

            {# Boucle sur les CMS #}
            {% for cms in cms %} {# for nomdelaclef (nom arbitraire) in nomdutableau #}

            <tr>

                <td class="text-center"> {{ cms.id }} </td>

                <td class="text-center"> <a href="{{ path('store_backend_cms_view', {'name' : cms.title , 'id': cms.id} ) }}"> {{ cms.title }} </td>

                <td class="text-center">
                    {% if cms.image != NULL %}
                        <img src="{{ asset('uploads/cms/'~ cms.image )}}"/>
                    {% else %}
                    {% endif %}
                </td>

                <td class="text-justify"> {{ cms.summary }} </td>

                <td class="text-center">
                    {% if cms.active == 1 %}
                        <a href="{{ path('store_backend_cms_activate', {'id': cms.id, 'action' : 0} ) }}"
                           data-container="body" data-toggle="popover" data-placement="top" data-content="Désactiver la page CMS" class="btn btn-success">
                            <span class="fa fa-check"> </span>
                        </a>
                    {% else %}
                        <a href="{{ path('store_backend_cms_desactivate', {'id': cms.id, 'action' : 1} ) }}"
                           data-container="body" data-toggle="popover" data-placement="top" data-content="Activer la page CMS" class="btn btn-danger">
                            <span class="fa fa-times"> </span>
                        </a>
                    {% endif %}
                </td>

                <td class="text-center">
                    {% if cms.state == 2 %}
                        <a href="{{ path('store_backend_cms_state', {"id" : cms.id, "action": 2 }) }}" class="btn btn-success">Lu</a>
                        <a href="{{ path('store_backend_cms_state', {"id" : cms.id, "action": 1 }) }}" class="btn btn-default">En cours de lecture</a>
                        <a href="{{ path('store_backend_cms_state', {"id" : cms.id, "action": 0 }) }}" class="btn btn-default">Non lu</a>
                    {% elseif cms.state == 1 %}
                        <a href="{{ path('store_backend_cms_state', {"id" : cms.id, "action": 2 }) }}" class="btn btn-default">Lu</a>
                        <a href="{{ path('store_backend_cms_state', {"id" : cms.id, "action": 1 }) }}" class="btn btn-warning">En cours de lecture</a>
                        <a href="{{ path('store_backend_cms_state', {"id" : cms.id, "action": 0 }) }}" class="btn btn-default">Non lu</a>
                    {% else %}
                        <a href="{{ path('store_backend_cms_state', {"id" : cms.id, "action": 2 }) }}" class="btn btn-default">Lu</a>
                        <a href="{{ path('store_backend_cms_state', {"id" : cms.id, "action": 1 }) }}" class="btn btn-default">En cours de lecture</a>
                        <a href="{{ path('store_backend_cms_state', {"id" : cms.id, "action": 0 }) }}" class="btn btn-danger">Non lu</a>

                    {% endif %}
                </td>

                <td class="text-center"> <span class="badge badge-info"> {{ cms.product|length }} </span> produits associés </td>

                <td class="text-center"> {{ cms.dateCreated|date('d/m/Y') }} </td>

                <td class="text-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-cogs"></i> Actions <i class="fa fa-caret-down"></i></button>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('store_backend_cms_view', {'name' : cms.title , 'id': cms.id} ) }}"> <i class="fa fa-search"></i> Voir</a></li>
                            <li><a href="{{ path('store_backend_cms_edit', {'id': cms.id} ) }}"> <i class="fa fa-pencil"></i> Éditer</a></li>
                            <li><a href="{{ path('store_backend_cms_remove', {'id': cms.id} ) }}"> <i class="fa fa-times"></i> Supprimer</a></li>
                        </ul>
                    </div>
                </td>

            </tr>

            {% endfor %}

            </tbody>

        </table>

    </div>

{% endblock %}