{% extends "StoreBackendBundle::layout.html.twig" %}



{%  trans_default_domain "cms" %}



{% block javascripts %}

    {{ parent() }}

    <script>
        init.push(function() {
            $('[data-toggle="popover"]').popover({
                trigger: "hover"
            })
        });
    </script>

{% endblock %}



{% block titlepage %}
    {# Le filtre trans de Twig va me chercher la traduction  pour le texte "Liste de spages CMS" #}
    <i class="menu-icon fa fa-pencil"></i> {{ "cms.list.title"|trans }}
{% endblock %}



{% block content %}

    <div class="row">
        <div class="btn-group pull-right">
            <p> {{ "cms.list.choice"|trans({'%username%' : app.user.username}, "messages") }}</p>
            {# La variable _locale que j'envoie en paramètre dans ma route sera la langue affectée #}
            <a href="{{ path('store_backend_cms_list', {'_locale': 'en'}) }}" class="btn btn-primary btn-outline {% if app.request.get('_locale') == 'en' %} active {% endif %}"> {{ "cms.list.btnen"|trans ({},"messages") }} </a>
            <a href="{{ path('store_backend_cms_list', {'_locale': 'fr'}) }}" class="btn btn-primary btn-outline {% if app.request.get('_locale') == 'fr' %} active {% endif %}"> {{ "cms.list.btnfr"|trans ({},"messages") }} </a>
        </div>
    </div>

    <br/>

    <div class="row">
        <a href="{{ path('store_backend_cms_new') }}" class="pull-right btn btn-primary btn-lg btn-rounded">
            <i class="fa fa-plus"></i> {{ "cms.list.button"|trans }}
        </a>
    </div>
    <hr/>

    {#<div class="alert alert-info alert-dark">#}
        {#&#123;&#35; Le filtre |transchoice permet de choisir la traduction en fonction du nombre que je lui donne &#35;&#125;#}
        {#{{ "cms.list.nb"|transchoice(cms|length) }}#}
    {#</div>#}

    <div class="table-info">

        <table class="table table-bordered">

            <thead>

            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">{{ "cms.list.table.th.title"|trans }}</th>
                <th class="text-center">Image</th>
                <th class="col-md-4 text-center">{{ "cms.list.table.th.summary"|trans }}</th>
                <th class="text-center">Activation</th>
                <th class="text-center">{{ "cms.list.table.th.state"|trans }}</th>
                <th class="text-center">{{ "cms.list.table.th.nb"|trans }}</th>
                <th class="text-center">{{ "cms.list.table.th.date"|trans }}</th>
                <th class="text-center">Actions</th>
            </tr>

            </thead>

            <tbody>

            {# Boucle sur les CMS #}
            {% for cms in cms %} {# for nomdelaclef (nom arbitraire) in nomdutableau #}

            <tr>

                <td class="text-center"> {{ cms.id }} </td>

                <td class="text-center"> <a href="{{ path('store_backend_cms_view', {'name' : cms.title , 'id': cms.id} ) }}"> {{ cms.title }} </a></td>

                <td class="text-center">
                    {% if cms.image != NULL %}
                        <img src="{{ asset('uploads/cms/'~ cms.image )}}"/>
                    {% else %}
                    {% endif %}
                </td>

                <td class="text-justify"> {{ cms.summary }} </td>

                <td class="text-center">
                    {% if cms.active == 1 %}
                        <a href="{{ path('store_backend_cms_activate', {'id': cms.id, 'action' : 0} ) }}"
                           data-container="body" data-toggle="popover" data-placement="top" data-content="{{ "cms.list.table.td.desactivate"|trans }}" class="btn btn-success">
                            <span class="fa fa-check"> </span>
                        </a>
                    {% else %}
                        <a href="{{ path('store_backend_cms_desactivate', {'id': cms.id, 'action' : 1} ) }}"
                           data-container="body" data-toggle="popover" data-placement="top" data-content="{{ "cms.list.table.td.activate"|trans }}" class="btn btn-danger">
                            <span class="fa fa-times"> </span>
                        </a>
                    {% endif %}
                </td>

                <td class="text-center">
                    <div class="btn-group-vertical">
                        {% if cms.state == 2 %}
                            <a href="{{ path('store_backend_cms_state', {"id" : cms.id, "action": 2 }) }}" class="btn btn-success">{{ "cms.list.table.state.read"|trans ({},"messages") }}</a>
                            <a href="{{ path('store_backend_cms_state', {"id" : cms.id, "action": 1 }) }}" class="btn btn-default">{{ "cms.list.table.state.inwaiting"|trans ({},"messages") }}</a>
                            <a href="{{ path('store_backend_cms_state', {"id" : cms.id, "action": 0 }) }}" class="btn btn-default">{{ "cms.list.table.state.unread"|trans ({},"messages") }}</a>
                        {% elseif cms.state == 1 %}
                            <a href="{{ path('store_backend_cms_state', {"id" : cms.id, "action": 2 }) }}" class="btn btn-default">{{ "cms.list.table.state.read"|trans ({},"messages") }}</a>
                            <a href="{{ path('store_backend_cms_state', {"id" : cms.id, "action": 1 }) }}" class="btn btn-warning">{{ "cms.list.table.state.inwaiting"|trans ({},"messages") }}</a>
                            <a href="{{ path('store_backend_cms_state', {"id" : cms.id, "action": 0 }) }}" class="btn btn-default">{{ "cms.list.table.state.unread"|trans ({},"messages") }}</a>
                        {% else %}
                            <a href="{{ path('store_backend_cms_state', {"id" : cms.id, "action": 2 }) }}" class="btn btn-default">{{ "cms.list.table.state.read"|trans ({},"messages") }}</a>
                            <a href="{{ path('store_backend_cms_state', {"id" : cms.id, "action": 1 }) }}" class="btn btn-default">{{ "cms.list.table.state.inwaiting"|trans ({},"messages") }}</a>
                            <a href="{{ path('store_backend_cms_state', {"id" : cms.id, "action": 0 }) }}" class="btn btn-danger">{{ "cms.list.table.state.unread"|trans ({},"messages") }}</a>
                        {% endif %}
                    </div>

                </td>

                <td class="text-center"> <span class="badge badge-info"> {{ cms.product|length }} </span> {{ "cms.list.table.td.product"|trans }} </td>

                <td class="text-center"> {{ cms.dateCreated|date('d/m/Y') }} </td>

                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-cogs"></i> Actions <i class="fa fa-caret-down"></i></button>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('store_backend_cms_view', {'name' : cms.title , 'id': cms.id} ) }}"> <i class="fa fa-search"></i> {{ "cms.list.table.btn.see"|trans ({},"messages") }} </a></li>
                            <li><a href="{{ path('store_backend_cms_edit', {'id': cms.id} ) }}"> <i class="fa fa-pencil"></i> {{ "cms.list.table.btn.edit"|trans ({},"messages") }} </a></li>
                            <li><a href="{{ path('store_backend_cms_remove', {'id': cms.id} ) }}"> <i class="fa fa-times"></i> {{ "cms.list.table.btn.delete"|trans ({},"messages") }} </a></li>
                        </ul>
                    </div>
                </td>

            </tr>

            {% endfor %}

            </tbody>

        </table>

        <div class="pagination">
            <li> {{ knp_pagination_render(cms) }} </li>
        </div>

    </div>

{% endblock %}