{% extends "StoreBackendBundle::layout.html.twig" %}


{% block javascripts %}

    {{ parent() }} {# on appelle la méthode parent pour éviter d'écraser #}

    <script type="text/javascript">
        init.push(function () {

            $('textarea').summernote({
                height: 200,
                tabsize: 2,
                codemirror: {
                    theme: 'monokai'
                }
            });
        });

    </script>

{% endblock %}


{% block titlepage %}

    <i class="fa fa-plus"></i> Création d'un CMS

{% endblock %}


{% block content %}

    {#Crée une balise ouvrante <form>#}
    {{ form_start(form) }}

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.title) }}
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.summary) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.description) }}
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.image) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.dateActive) }}
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.video) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.state) }}
        </div>
    </div>

    <br/>

    {# Bouton envoyer #}
    {{  form_widget(form.envoyer, {'attr': {'class': 'pull-right btn btn-lg btn-primary'}}) }}

    {# ATTENTION : token  à ne pas oublier -> clef de sécurité du formulaire #}
    {{ form_widget(form._token) }}

    {# Crée une balise fermante </form> #}
    {{ form_end(form, {'render_rest': false}) }}

{% endblock %}