{% extends "::base.html.twig" %}

{% block classname %} theme-clean main-menu-animated {% endblock %}

{#Styleshhets#}
{% block stylesheets %}
    {{ parent() }}
    <!-- Pixel Admin's stylesheets -->
    <link href="{{ asset('assets/backend/stylesheets/pixel-admin.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/backend/stylesheets/widgets.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/backend/stylesheets/rtl.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/backend/stylesheets/themes.min.css') }}" rel="stylesheet" type="text/css">
{% endblock %}


{% block body %}

    {#init.push() tableau pour pousser tout le jquery#}
    <script>var init = [];</script>

    <div id="main-wrapper">

        {# Si l'utilisateur est connecté, alors on affiche la barre de navigation et la barre du menu #}
        {# alors l'utilisateur est accessible depuis Twig #}
        {% if app.user.id is defined %}
            {# Inclusion de ma vue partielle main navigation #}
            {{ include('StoreBackendBundle:Partial:main_navigation.html.twig') }}
        {% endif %}

        {% if app.user.id is defined %}
            {# Inclusion de ma vue partielle main menu #}
            {{ include('StoreBackendBundle:Partial:main_menu.html.twig') }}
        {% endif %}

        <div id="content-wrapper">

            {# J'inclus ma vue des messages flash #}
            {{ include('StoreBackendBundle:Partial:flashdatas.html.twig') }}



            {#{%  if app.session.get('alert') is not empty %}#}

                {#<div class="alert alert-dark alert-{{ app.session.get('alert').criticity }}">#}

                    {#&#123;&#35; app.session permet de récupérer la session en Twig &#35;&#125;#}
                    {#&#123;&#35; La méthode .get() récupère la valeur selon une clef en session &#35;&#125;#}
                    {#{{ app.session.get('alert').message }}#}

                {#</div>#}

            {#{%  endif %}#}



            {#Titre de la page#}
            <div class="page-header">

                <div class="row">
                    <!-- Page header, center on small screens -->
                    <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"> {% block titlepage %} {% endblock %} </h1>
                </div>
            </div> <!-- / .page-header -->

            {#Le block où vont écrire nos vues filles#}
            {% block content %}
            {% endblock %}

        </div> <!-- / #content-wrapper -->

        <div id="main-menu-bg"></div>

    </div> <!-- / #main-wrapper -->

{% endblock %}

{#Javascript files#}
{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('assets/backend/javascripts/pixel-admin.min.js') }}"></script>

    <script type="text/javascript">
        init.push(function () {

            // Utilisation du plugin datepicker (pour afficher les dates actives dans les formulaires)
            $('.date').datepicker({ dateFormat: 'dd/mm/yy' });

            // Utilisation du plugin select 2 (pour afficher les choix multiples dans les formulaires)
            $("select[multiple]").select2();

            // Pour enlever les messages d'alert info au bout de 3 secondes
            $('div.alert-info').delay(3000).slideUp('fast');
            // Pour enlever les messages d'alert success au bout de 3 secondes
            $('div.alert-success').delay(3000).slideUp('fast');
            // Pour enlever les messages d'alert danger au bout de 3 secondes
            $('div.alert-danger').delay(3000).slideUp('fast');

            // Utilisation du plugin pixelFileInput pour tous les champs de type file (upload d'image dans les formulaires)
            $('input[type=file]').pixelFileInput({ placeholder: "{{ 'fileupload'|trans }}" });

        })
        window.PixelAdmin.start(init);
    </script>

{% endblock %}