{% extends "StoreBackendBundle::layout.html.twig" %}


{% block javascripts %}

    {{ parent() }}

    <script>
        init.push(function() {
            $('[data-toggle="popover"]').popover({
                trigger: "hover"
            })
        });
    </script>

{% endblock %}



{% block titlepage %}
    <i class="menu-icon fa fa-th"></i> Liste des catégories
{% endblock %}



{% block content %}


    <div class="row">
        <a href="{{ path('store_backend_category_new') }}" class="pull-right btn btn-primary btn-lg btn-rounded">
            <i class="fa fa-plus"></i> Ajouter une catégorie
        </a>
    </div>
    <hr/>

    <div class="table-info">

        <table class="table table-bordered">

            <thead>

            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Titre</th>
                <th class="text-center">Image</th>
                <th class="col-md-4 text-center">Description</th>
                <th class="text-center">Nombre de produits associés</th>
                <th class="text-center">État</th>
                <th class="text-center">Actions</th>
            </tr>

            </thead>

            <tbody>

            {% for category in categories %}

            <tr>

                <td class="text-center"> {{ category.id }} </td>

                <td class="text-center"> <a href="{{ path('store_backend_category_view', {'name' : category.title , 'id': category.id} ) }}"> {{ category.title }} </a> </td>

                <td class="text-center">
                    {% if category.image != NULL %}
                        <img src="{{ asset('uploads/category/'~ category.image )}}"/>
                    {% else %}
                    {% endif %}
                </td>

                <td class="text-justify"> {{ category.description }} </td>

                <td class="text-center"> <span class="badge badge-info"> {{ category.product|length }} </span> produits associés </td>

                <td class="text-center">
                {% if category.active == 1 %}
                    <a href="{{ path('store_backend_category_activate', {'id': category.id, 'action' : 0} ) }}"
                       data-container="body" data-toggle="popover" data-placement="top" data-content="Désactiver la catégorie" class="btn btn-success">
                        <span class="fa fa-check"> </span>
                    </a>
                {% else %}
                    <a href="{{ path('store_backend_category_desactivate', {'id': category.id, 'action' : 1} ) }}"
                       data-container="body" data-toggle="popover" data-placement="top" data-content="Activer la catégorie" class="btn btn-danger">
                        <span class="fa fa-times"> </span>
                    </a>
                 {% endif %}
                </td>

                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-cogs"></i> Actions <i class="fa fa-caret-down"></i></button>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('store_backend_category_view', {'name': category.title , 'id': category.id} ) }}"> <i class="fa fa-search"></i> Voir</a></li>
                            <li><a href="{{ path('store_backend_category_edit', {'id': category.id} ) }}"> <i class="fa fa-pencil"></i> Éditer</a></li>
                            <li><a href="{{ path('store_backend_category_remove', {'id': category.id} ) }}"> <i class="fa fa-times"></i> Supprimer</a></li>
                        </ul>
                    </div>
                </td>

            </tr>

            {% endfor %}

            </tbody>

        </table>

    </div>

{% endblock %}