{% block main_navigation %}

    <!-- 2. $MAIN_NAVIGATION ===========================================================================

        Main navigation
    -->
    <div id="main-navbar" class="navbar navbar-inverse" role="navigation">
    <!-- Main menu toggle -->
    <button type="button" id="main-menu-toggle"><i class="navbar-icon fa fa-bars icon"></i><span class="hide-menu-text">HIDE MENU</span>
    </button>

    <div class="navbar-inner">
    <!-- Main navbar header -->
    <div class="navbar-header">

        <!-- Logo -->
        <a href="index.html" class="navbar-brand">
            <div><img alt="Pixel Admin" src="http://images.all-free-download.com/images/graphiclarge/diamond_93729.jpg"></div>
            ALittleJewelry
        </a>

        <!-- Main navbar toggle -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#main-navbar-collapse"><i class="navbar-icon fa fa-bars"></i></button>

    </div>
    <!-- / .navbar-header -->

    <div id="main-navbar-collapse" class="collapse navbar-collapse main-navbar-collapse">
    <div>
    <ul class="nav navbar-nav">

        <li class="{% if app.request.attributes.get('_route') == "store_backend_index" %} active {% endif %}">
            <a href="{{ path('store_backend_index') }}"> <i class="menu-icon fa fa-home"></i> Home </a>
        </li>

        <li class="{% if app.request.attributes.get('_route') == "store_backend_jeweler_myaccount" %} active {% endif %}">
            <a href="{{ path('store_backend_jeweler_myaccount') }}"> <i class="menu-icon fa fa-user"></i> Ma Boutique </a>
        </li>

        {% if is_granted('ROLE_COMMERCIAL') %}
        <li class="{% if app.request.attributes.get('_route') == "store_backend_product_list" %} active {% endif %}">
            <a href="{{ path('store_backend_product_list') }}"> <i class="menu-icon fa fa-bookmark"></i> Produits </a>
        </li>
        {% endif %}

        {% if is_granted('ROLE_COMMERCIAL') %}
        <li class="{% if app.request.attributes.get('_route') == "store_backend_category_list" %} active {% endif %}">
            <a href="{{ path('store_backend_category_list') }}"> <i class="menu-icon fa fa-th"></i> Categories </a>
        </li>
        {% endif %}

        {% if is_granted('ROLE_COMMERCIAL') %}
        <li class="{% if app.request.attributes.get('_route') == "store_backend_order_list" %} active {% endif %}">
            <a href="{{ path('store_backend_order_list') }}"> <i class="menu-icon fa fa-shopping-cart"></i> Commandes </a>
        </li>
        {% endif %}

        {% if is_granted('ROLE_EDITOR') %}
        <li class="{% if app.request.attributes.get('_route') == "store_backend_cms_list" %} active {% endif %}">
            <a href="{{ path('store_backend_cms_list') }}"> <i class="menu-icon fa  fa-pencil"></i> CMS </a>
        </li>
        {% endif %}

        {% if is_granted('ROLE_COMMERCIAL') %}
        <li class="{% if app.request.attributes.get('_route') == "store_backend_supplier_list" %} active {% endif %}">
            <a href="{{ path('store_backend_supplier_list') }}"> <i class="menu-icon fa fa-truck"></i> Fournisseurs </a>
        </li>
        {% endif %}

        {% if is_granted('ROLE_COMMERCIAL') %}
        <li class="{% if app.request.attributes.get('_route') == "store_backend_slider_list" %} active {% endif %}">
            <a href="{{ path('store_backend_slider_list') }}"> <i class="menu-icon fa fa-video-camera"></i> Diaporama </a>
        </li>
        {% endif %}

    </ul>
    <!-- / .navbar-nav -->

    <div class="right clearfix">
    <ul class="nav navbar-nav pull-right right-navbar-nav">

    <li>
        <form class="navbar-form pull-left">
            <input type="text" class="form-control" placeholder="Rechercher ...">
        </form>
    </li>

    <li class="dropdown">
        <a href="#" class="dropdown-toggle user-menu" data-toggle="dropdown">
            <img src="{{ app.user.image }}" alt="">
            <span>{{ app.user.username }}</span>
        </a>
        <ul class="dropdown-menu">
            <li> <a href="{{ path('store_backend_jeweler_myaccount') }}"> <i class="menu-icon fa fa-user"></i> Ma boutique </a></li>
            <li class="divider"></li>
            <li><a href="{{ path('store_backend_security_logout') }}"><i class="dropdown-icon fa fa-power-off"></i>&nbsp;&nbsp;Déconnexion</a></li>
        </ul>
    </li>
    </ul>
    <!-- / .navbar-nav -->
    </div>
    <!-- / .right -->
    </div>
    </div>
    <!-- / #main-navbar-collapse -->
    </div>
    <!-- / .navbar-inner -->
    </div> <!-- / #main-navbar -->
    <!-- /2. $END_MAIN_NAVIGATION --><!-- 2. $MAIN_NAVIGATION ===========================================================================

{% endblock %}